<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
  </head>
  <body>
    <% include header.ejs %>
    <h1><%=salutation%></h1>
  </body>
</html>
