<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <% include header.ejs %>
      <p class="home-welcome-text">Hello world</p>
  </body>
</html>
