*{
  padding: 0;
  margin:0;
  font-family: "futura";
}
html{
  background-color: rgb(5, 231, 102);
  color:white;
}
body{
  background-color: rgb(5, 231, 102);
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-bar{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 231, 102);
  padding: 10px 0;
}
.menu-bar > a{
  margin: 0 1vw;
  color: white;
  font-size: 60px;
}

/* / */

.home-welcome-text{
  font-size: 100px;
}

/* /USERS */

.main-container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container > p{
  font-size: 30px;
}
.people-container{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 30vw;
}
.people-container > a{
  border: 2px solid white;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding: 1vw 2vw;
  margin: 1vw 1vw;
  text-align: center;
  border-radius: 50px;
}

/* USER PROJECT */
.user-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
